.education-degree-container {
 display: flex;
 width: 100%;
 gap: 56px;
 margin-top: 31px;
}

.education-degree-input-container,
.education-endDate-input-container {
 width: 100%;
}

.education-description-input-container {
 margin-top: 34px;
}

.degrees-select {
 background: var(--white);
 padding: 13px 16px;
 margin: 8px 0;
 border-radius: 4px;
 color: var(--clr-input-placeholder);
 width: 100%;
}