/* result-container items */
.result-container {
 position: relative;
 width: 822px;
 min-height: 1080px;
 padding: 0 80px;
 padding-bottom: 8rem;
 background: var(--white);
 padding-top: 45px;
}

.private-info-result-container {
 display: flex;
 justify-content: space-between;
}

.user-lastName {
 text-align: center;
}

/* watermark */
.watermark {
 position: absolute;
 bottom: 0;
 left: 0;
 transform: translate(80px, -80%);
}

/* preview underline */
.result-underline {
 border: 1px solid #C8C8C8;
 margin-top: 15px;
}

.with-desc {
 margin-bottom: 0 !important;
}

.result-learn-container {
 display: flex;
 font-weight: bold;
 align-items: center;
 justify-content: flex-start;
 margin-top: 15px;
}

.result-education-degree {
 margin-left: 16px;
}

.result-education-endDate {
 margin-top: 7px;
 color: #909090;
}

.result-education-description {
 width: 100%;
 line-height: 22px;
 margin-top: 16px;
 padding-right: 5rem;
}

.result-finish {
 border: 0.8px solid #000000;
}