/* result-container items */
.result-container {
 position: relative;
 width: 85vw;
 padding: 0 80px;
 background: var(--white);
 padding-top: 45px;
}

.private-info-title {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 padding-bottom: 12px;
}

.private-info-title h1 {
 width: 100%;
}

.user-img {
 width: 246px;
 height: 246px;
 object-fit: cover;
 border-radius: 50%;
}

.private-info-result-container {
 display: flex;
 justify-content: space-between;
}

.user-name,
.user-lastName {
 font-size: 34px;
 color: var(--clr-primary);
}

.user-lastName {
 text-align: center;
}

.user-name-lastName-result-container {
 display: flex;

 gap: 20px;
 word-break: normal;
}

.user-email-phone-result-container {
 padding: 8px 0;
}

.user-email-phone-result-container .user-email,
.user-phone {
 padding: 5px 0;

}

.about-decoration {
 color: var(--clr-primary);
 margin-bottom: 10px;
}

.user-about-result-container {
 word-break: break-all;
}

.user-email,
.user-phone {
 display: flex;
 gap: 5px;
}

.result-info {
 width: 100%;
}

/* watermark */
.watermark {
 position: absolute;
 bottom: 0;
 left: 0;
 transform: translate(calc(80px + 50%), -100%);
}

/* preview underline */
.result-underline {
 border: 1px solid #C8C8C8;
 margin-top: 15px;
}