/* result-container items */
.result-container {
 position: relative;
 width: 822px;
 min-height: 1080px;
 padding: 0 80px;
 padding-bottom: 8rem;
 background: var(--white);
 padding-top: 45px;
}


.user-img {
 width: 246px;
 height: 246px;
 object-fit: cover;
 border-radius: 50%;
}

.private-info-result-container {
 display: flex;
 justify-content: space-between;
}

.user-name,
.user-lastName {
 font-size: 34px;
 color: var(--clr-primary);
}

.user-lastName {
 text-align: center;
}

.user-name-lastName-result-container {
 display: flex;

 gap: 20px;
 word-break: normal;
}

.user-email-phone-result-container {
 padding: 8px 0;
}

.user-email-phone-result-container .user-email,
.user-phone {
 padding: 5px 0;

}



.user-about-result-container {
 word-break: normal;
}

.user-email,
.user-phone {
 display: flex;
 gap: 5px;
}

.result-info {
 width: 100%;
}

/* watermark */
.watermark {
 position: absolute;
 bottom: 0;
 left: 0;
 transform: translate(80px, -80%);
}

/* preview underline */
.result-underline {
 border: 1px solid #C8C8C8;
 margin-top: 15px;
}

.result-title {
 color: var(--clr-primary);
 font-size: 18px;
 text-align: start;
 display: block;
 margin-top: 24px;
 margin-bottom: 15px;
}

.with-desc {
 margin-bottom: 0 !important;
}

.result-job-container {
 display: flex;
 font-weight: bold;
 margin-top: 15px;
}

.result-learn-container {
 display: flex;
 font-weight: bold;
 align-items: center;
 justify-content: flex-start;
 margin-top: 15px;
}

.result-employer-position {
 margin-left: 7px;
}

.result-duration-container {
 color: #909090;
 display: flex;
 margin-top: 7px;
}

.dash {
 margin: 0 5px;
}

.result-description-container {
 width: 100%;
 line-height: 22px;
 margin-top: 16px;
}

.result-education-degree {
 margin-left: 16px;
}

.result-education-endDate {
 margin-top: 7px;
 color: #909090;
}

.result-education-description {
 width: 100%;
 line-height: 22px;
 margin-top: 16px;
 padding-right: 5rem;
}


.result-finish {
 border: 0.8px solid #000000;
}

.result-experience-container {
 word-break: normal;
}

.result-education-institute {}