/*
=============== 
Fonts
===============
*/

@font-face {
 font-family: "HelveticaNeue";
 src: url(fonts/HelveticaNeue.ttc);
}

/*
=============== 
Variables
===============
*/

:root {
 --clr-primary: #F93B1D;
 --white: #FFFFFF;
 --black: #000000;
 --clr-grey: #F9F9F9;
 --clr-btn-default: #0E80BF;
 --clr-btn-next: #6B40E3;
 --clr-input-placeholder: rgba(0, 0, 0, 0.6);
 --clr-validation-default: #BCBCBC;
 --clr-validation-success: #98E37E;
 --clr-validation-danger: #EF5050;
 --clr-offblack: #1A1A1A;
 --ff-primary: "HelveticaNeue", sans-serif;
 --transition: all 0.3s linear;
 --radius: 4px;
 --line-hight: 21px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: var(--ff-primary);
 background: var(--White);
}

button {
 border: none;
 border-radius: var(--radius)
}

input {
 padding-left: 16px;
}

label {
 display: block;
}