/* next page button */
.navigation-btn {
 background: var(--clr-btn-next);
 align-self: flex-end;
 color: white;
 padding: 14px 35px;
 margin-top: 75px;
 margin-bottom: 40px;
 border-radius: var(--radius);
 transition: var(--transition);
 cursor: pointer;
}

.navigation-btn:hover {
 background: #7949FF;
}

.navigation-btn:active {
 background: #512FAF;
}

/* add info btn */

.add-more {
 padding: 14px 21px;
 background: #62A1EB;
 color: white;
 cursor: pointer;
}